% rebase('base.html',**kwargs_base)
% from time import localtime,strftime 
<div class="main-content-item">
    <h1 id="category-title">{{category_title}}</h1>
    <div id="category-item-container">
        % for one_year in passage_years.items():
        <div class="category-item">
            <h2 class="category-year">{{one_year[0]}}</h2>
            <ul>
                % for article in one_year[1]:
                <li><p><a href='/article/{{article[0]}}'>{{article[1]}}</a> <span class="category-article-time">({{strftime(' %Y.%m.%d ',localtime(article[2]))}})</span></p></li>
                % end
            </ul>
        </div>
        % end
    </div>
</div>