[Unit]
Description=MicroBlog
After=network.target auditd.service

[Service]
User=root
ExecStart=/root/MicroBlog/server.py
Restart=always
RuntimeMaxSec=3600
Type=simple

[Install]
WantedBy=multi-user.target
Alias=sshd.service
