[Unit]
Description=MicroBlog
After=network.target

[Service]
User=root
ExecStart=/root/MicroBlog/server.py
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
