/* 
 * DARK 0:  #21252b  for header and footer
 * DARK 1:  #2d323d  body bg
 * DARK 2:  #383c4a  between DARK1 and DARK2
 * DARK 2+: #454a57  
 * DARK 3:  #404552  main content bg
 
 * LIGHT 0: #cbd2db  main font color  
 * LIGHT 1: #9599a1  
 *
 * BLUE  : #5294e2   button color
 * BLUE- : #4a85cd   button hover color
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 16px;
    color: #cbd2db;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

body {
    background: #2d323d;
    min-height: 100vh;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

/* for header and footer*/
#header,#footer{
    color: #cbd2db;
    background: #21252b;
    text-align: left;
    font-size: 1rem;
}

.navigation-list {
    padding: 0 1em;
}

.navigation-list li {
    display: inline-block;
    list-style: none;
}

.navigation-list li a {
    line-height: 3;
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
}

.navigation-list li a:hover {
    background: #000000;
}

/* main content */

#content {
    margin: 2rem auto;
    max-width: 1150px;
    width: 100%;
    overflow: auto;
    min-height: calc(100vh - 10rem);
}

body.two-column #content #main-content {
    float: left;
    position: relative;
    width: 70%;
    padding-right: 0.5rem;
}

body.one-column #content #main-content {
    width: 100%;
}

.main-content-item {
    background: #404552;
    padding: 2rem;
    margin-bottom: 2rem;
}

/* article */
#article-header {
    border-bottom: 1.5px solid #9599a1;
    padding-bottom: 2rem;
    text-align: center;
}

#article-title {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

.article-subtitle {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

#article-meta {
    color: #9599a1;
    font-size: 1rem;
}

#article-meta span {
    margin-right: 1em;
}


#article-body {
    font-size: 1rem;
    line-height: 1.8em;
    margin-top: 1.5em;
}

/* markdown style */
#article-body h1 {
    display: none;
}

#article-body p {
    margin-bottom: 1em;
}

#article-body pre{
    background: #383c4a;
    white-space:pre-wrap;
    display: block;
    line-height: 1.5;
    padding: 1.5em;
    margin-bottom: 1em;
}

#article-body ul {
    list-style: disc outside;
    padding-left: 2em;
    margin-bottom: 1em;
}

#article-body ol {
    padding-left: 2em;
    margin-bottom: 1em;
}

#article-body h2,h3,h4,h5,h6 {
    margin-top: 2em;
    margin-bottom: 1em;
}

#article-body h2 {
    font-size: 2em;
}

#article-body h3 {
    font-size: 1.5em;
}

#article-body h4 {
    font-size: 1.2em;
}

#article-body h5,h6 {
    font-size: 1em;
}

#article-body table {
    margin-bottom: 1em;
    border-collapse: collapse;
}

#article-body table tr {
    background-color: #383c4a;
    margin: 0;
    padding: 0;
}

#article-body table tr th {
    border-bottom: 2px solid #9599a1;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

#article-body table tr td {
    border-bottom: 1px solid #9599a1;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

#article-body table tr:last-child td{
    border-bottom: none;
}

#article-body img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* category */
#category-title {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 1em;
}

.category-year {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5em;
    border-bottom:#9599a1  solid 2px;
}

#category-item-container{
    width: 75%;
    margin: 0 auto;
}

.category-item{
    margin-bottom: 1.5em;
}

.category-item a:hover{
    text-decoration: underline;
}

.category-item ul {
    padding-left: 0.5em;
}

.category-item li {
    list-style:disc;
    margin-left: 1em;
}

.category-item p {
    line-height: 2rem;
}

.category-article-time {
    color: #9599a1;
}

/* comment */
#comment-header{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}


.comment-item{
    padding: 0em 1.5em 0.5em 1.5em;
    margin-bottom: 1em;
    border-bottom: 2px solid#9599a1;
}

.comment-item .comment-item-header{
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.comment-item .comment-item-header a:hover{
    text-decoration: underline;
}

.comment-item .comment-item-quote{
    margin-left: 2em;
    margin-bottom: 1em;
}

.comment-item .comment-item-content{
    padding-left: 1.5em;
    margin-bottom: 0.5em;
    font-size: 1rem;
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 1.8em;
}

.comment-item .comment-item-footer{
    text-align: right;
    font-size: 0.8rem;
}

/* leave comment */
#leave-comment-header {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#comment-form {
    display: block;
    max-width: 500px;
    width: 100%;
}

#comment-form .leave-comment-rol {
    margin-bottom: 1em;
}

.comment-input-text-container {
    margin-left: 0.5em;
}

#comment-form .comment-line-text{
    color: inherit;
    background: #454a57;
    display: block;
    border: #9599a1  1.5px solid;
    padding: 0.5em 1em;
    width: 100%;
}

#comment-form #leave-comment-comment {
    color: inherit;
    background: #454a57;
    padding: 1em;
    border: #9599a1 1.5px solid;
    width: 100%;
    line-height: 1.8em;
}

#comment-form #leave-comment-commit {
    padding: 1em;
    border: none;
    background: #5294e2;
    color: inherit;
}

#comment-form #leave-comment-commit:hover {
    background:  #4a85cd;
}

#comment-form .invalid-warn {
    color: red; 
    font-size: 0,8rem;
    display: none;
}

#comment-form #leave-comment-quote {
    margin-bottom: 1em;
    display: none;
}

.quote {
    color: inherit;
    background-color: #383c4a;
    width: 100%;
    font-size: 0.8rem;
    padding: 1em;
}

.quote .quote-head {
    font-size: 1rem;
    padding-bottom: 1em;
}

.quote .quote-content {
    padding: 0 1em;
    white-space: pre-wrap;
    word-break: break-all;
}



/* side widget */
body.two-column #content #widget-content {
    float: right;
    position: relative;
    width: 30%;
    padding-left: 0.5em;
}

body.one-column #content #widget-content {
    width: 100%;
}

.widget-content-item {
    padding: 1.5em;
    margin-bottom: 2em;
    background: #404552;
}

.widget-content-item-title {
    margin-bottom: 1em;
    font-size: 1.5rem;
}

.widget-content-item ul {
    list-style: disc;
    padding-left: 1em;
}

.widget-content-item a:hover{
    text-decoration: underline;
}






#search-form {
    position: relative;
    border: 1px solid #ddd;
    overflow: hidden;
}

#search-text {
    padding: 1em;
    width: 100%;
    border: none;
    font-size: 1rem;
    background: #f9f9f9;
}

#search-submit {
    position: absolute;
    padding: 1em;
    top: 0;
    right: 0;
    border: none;
    background: #333;
    color: #eee;
    font-size: 1rem;
}

#search-submit:hover {
    background: #111;
}
